.header, .footer {
  color: #191919;
  padding: 30px;
  text-align: center;
}
.header a, .footer a {
  color: #191919;
}
@media (min-width: 768px) {
  .header, .footer {
    padding: 20px 30px;
  }
}
.new-gallery {
    overflow: hidden;
}
@media(max-width: 1080px){
  div .mapletree {
    height: 112px !important;
   	background-image: url("images/wahtera-mobile-gallery.png") !important; /*the maple tree*/
  }
}

.topnav-gallery {
  overflow: hidden;
  background-color: #fefdf8e6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
  font-size: 10px;
}

.wahtera-icon-mobile-gallery {
 height: 73px;
 margin-left: 28px;
}
.topnav-gallery #myLinks {
  display: none;
}
.topnav-gallery #myLinks a {
    background-color: #fefcf7c7;
}
.topnav-gallery a {
  color: black;
  text-decoration: none;
  padding: 5px;
  font-size: 17px;
  display: block;
  text-align: center;
}
.topnav-gallery a.icon {
  color: black;
  padding: 12px 11px 11px 12px;
  text-decoration: none;
  font-size: 11px;
  display: block;
  text-align: center;
  background: #472914;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 4px;
}
.topnav-gallery i {
  color: #a6a6a6;
  font-size: 1.6em;
}

.brand-text-container-gallery {
  font-size: 10px;
  margin-left: 8px;
  margin-top: -4px;
  margin-bottom: 14px;
}
.header h1, .footer h1 {
  font-size: 2em;
  font-weight: 300;
}
.header i.fa, .footer i.fa {
  font-size: 3em;
}
.header .bounce, .footer .bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.header .animated, .footer .animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.section {
  width: 100%;
  position: relative;
}
.section .left, .section .middle, .section .right {
  width: 100%;
  display: block;
  color: #d68f33;
  box-sizing: border-box;
  left: 0;
  padding: 30px;
  text-align: center;
  overflow: hidden;
  -moz-transition: 0.3s ease-in-out all;
  -o-transition: 0.3s ease-in-out all;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}
@media (min-width: 480px) {
  .section .left .content, .section .middle .content, .section .right .content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media (min-width: 480px) {
  .section .left, .section .middle, .section .right {
    width: 50%;
    font-size: 0.9em;
    padding: 10px;
    left: 0;
    float: left;
    position: absolute;
  }
}
@media (min-width: 768px) {
  .section .left, .section .middle, .section .right {
    width: 33.33333%;
    left: 33.33%;
    padding: 10px;
  }
}
@media (min-width: 992px) {
  .section .left, .section .middle, .section .right {
    padding: 30px;
    font-size: 1em;
    height: 630px !important;
  }
  .section {
    height: 630px !important;    
  }
 .section .middle img {
   width: auto !important;
   height: 630px !important;
   display: block;
   margin: 0 auto;
  }
}
.section.animate .left {
  left: 0;
}
@media (min-width: 480px) {
  .section.animate .left {
    left: 50%;
  }
}
@media (min-width: 768px) {
  .section.animate .left {
    left: 0;
  }
}
.section.animate .right {
  left: 0;
}
@media (min-width: 480px) {
  .section.animate .right {
    left: 50%;
  }
}
@media (min-width: 768px) {
  .section.animate .right {
    left: 66.66%;
  }

}
@media (min-width: 2200px) {
    .new-gallery {
        margin: auto 12%;
    }
}
@media (max-width: 768px) {
    .section .tiles {
        display: block !important;
        margin-top: 10px;
    }
    .tiles div {
        width: 25% !important
    }
footer {
    overflow: hidden;
    font-size: unset !important;
}
footer div {
    text-align: center;
    display: inline-block;
    width: 100%;
}
footer p {
    margin: 5px 0;
    color: #d68f33;
    font-size: 13px !important;
    font-family: 'Cormorant Garamond', serif;
}
footer a {
    float: right;
    padding: 0 24px 20px 0;
    margin-top: -60px;
    color: #d68f33;
    font-size: 13px !important;
    font-family: 'Cormorant Garamond', serif;
}
footer img {
    max-width: 33px !important;
    min-width: 19px !important;
    padding-left: 10px;
}
    .ps-text {
        font-size: 15px;
    }
}

.wahtera-color {
    color: #d68f33;
}
.section .title h2 {
  margin-top: 0;
}
.section .title p {
  line-height: 1.55em;
  margin-bottom: 0.75em;
}
.btn-primary {
  color: #fff;
  background: #d68f33;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
  display: inline-block;
  -moz-transition: 0.3s ease-in-out all;
  -o-transition: 0.3s ease-in-out all;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}
.btn-primary:hover {
  background: #d68f33;
}
.section .tiles {
  padding: 0;
  background: #fff;
  clear: both;
  display: none;
  float: none;
}
.section .tilesmobile {
    padding: 0;
  background: #fff;
    clear: both;
}.tilesmobile div {
  width: 50%;
  float: left;
  height: 50%;
}
.tilesmobiles img {
  opacity: 0.7;
    filter: brightness(200%);
  -moz-transition: 0.3s ease-in-out all;
  -o-transition: 0.3s ease-in-out all;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
   width: 100%;
  height: auto;
}
.section .tiles div {
  width: 50%;
  float: left;
  overflow: hidden;
  height: 50%;
}
.section .tiles img {
 /* width: 50%;
  float: left;
  height: auto;*/
  opacity: 0.7;
  -moz-transition: 0.3s ease-in-out all;
  -o-transition: 0.3s ease-in-out all;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
   width: 100%;
  height: auto;
}
.section .tiles img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}
@media (min-width: 768px) {
  .section .tiles {
    display: block;
  }
}
.section .middle {
  background: #fdfcf6;
  z-index: 2;
  padding: 0;
}
.section .middle img {
  width: 100%;
height: auto;
display: block;
}
.active {
  background-color: white !important;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
