@font-face {
    font-family: theFont;
    src: url("KaushanScript-Regular.otf");
}

ul.works { /*maalauksia, kuvia ja vaatteita listaava taulukko*/
	list-style: none;
	font-size: 0px;
}
p{
    font-family: sans;
}
html{
    min-height: 100%
}
body {
    margin:0;
    padding:0;
}

ul.works li {
	display: inline-block;
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.works li img {
	max-width: 100%;
   /* height: auto;*/
	margin: 0 0 10px;
}

ul.works li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}
ul.works {
	list-style: none;
   	font-size: 0px;
   	margin-left: -2.5%; /* should match li left margin */
}
div.worksgrid{
    padding: 0 50px 30px 15px;
}
ul.works li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/* class for 2 columns */
ul.works.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.works.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.works.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}
 
ul.works div {
    height: 100%;
    width: 100%; 
}

@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.works {
		margin-left: 0;
	}
	ul.works li {
		/*width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}

div.project img {
    display: inline-block;
    width: 50%;
    margin-left: 30px;
    margin-right: 5px;
    float: right;
}
div.project {
    overflow: auto
}
    
.allprojects {
    margin-left: 7%;
    margin-right: 7%;
    padding: 0 15px 20px 15px;
    background-color: #FFFFFF; 
}

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;    
    overflow: hidden;
    margin-bottom: 30px;
}

ul.navigation li {
    float: right;
}
ul.navigation a:hover {
    background-color: #111;
}
ul.navigation a {
    font-family: theFont;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
}
div.mapletree {
    width: auto;
    height: 488px;
    background-image: url("images/wahtera3.png"); /*the maple tree*/
    background-repeat: no-repeat;
    margin-top: 0px;
}
div.title{ /*the title text*/
    padding: 217px;
    font-family: theFont;
    font-size: 150%;
    text-align: center;    
}
div.mapletree img.banner{
    padding: 270px 0px 0px 380px;
    font-family: theFont;
    text-align: center;
    margin: 0;
}
img.titlephoto{
    height: 480px;
}
hr.divider { /*a line between programming-projects*/
    height: 24px;
    border-style: none;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url("images/smallerline.png");
}

img.profilepic{
    max-width: 500px;
    float: left;
    border: 1px solid #ddd;
    margin-right: 4%;
    margin-bottom: 15px;
}
a.cv img{
    display:block;
    height: 44px;
    margin-left: 40px;
}
a.cv {
    color: #333;
}
div.whoiam{ /*johanna who -page*/
    overflow: auto;
    margin: 0 6% 3% 6%;
    padding: 4% 5% 4% 5%;
    background-color: #FFFFFF;
}
div.whoiam p {
    color: #111;
}

body.frontpage{
    background-image: url("images/smallback.png");
   /* background-size:     cover;  */
    background-size: cover;                  
    background-repeat:   no-repeat;
    background-position: center center;  
}
body.codepage{
    background-image: url("images/smallback.png");
   /* background-size: 100% 100*/
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;  
}
div.introduction{
    display: block;
    text-align: center; 
    background-color: #FFFFFF;
    
}
div.introduction p {
    padding: 3%;
    margin: 3% 7% 3% 7%;
    /*font-family: theFont;
    font-size: 120%;*/
}

body.artpage{
    background-image: url("images/lightback.png");
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;  
}
body.photographs{
    background-image: url("images/lightback.png");
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;  
}
body.paintingspage{
    background-image: url("images/lightback.png");
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;  
}
body.clothespage{
    background-image: url("images/lightback.png");
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;  
}

div.buttons{
    text-align: center;
    margin-left: auto;
    margin-right: auto 
}
h1.frontpagetext{ 
    font-family: theFont;
    text-align: center;
}
a.code{
    display: inline-block;
    width: 400px;
    height: 384px;
    background-image: url("images/smallcode.png");
}
a.code:hover{
    background-image: url("images/codehover.png");    
}
a.art{
    display: inline-block;
    width: 400px;
    height: 384px;
    background-image: url("images/smallart.png");
}
a.art:hover{
    background-image: url("images/arthover.png"); 
}
a.clothes{
    display: inline-block;
    width: 400px;
    height: 384px;
    background-image: url("images/smallclothes.png");
}
a.clothes:hover{
    background-image: url("images/clotheshover.png");    
}
	
a.paint{
    margin-left: 15px;
    display: inline-block;
    width: 420px;
    height: 300px;
    background-image: url("images/paint.png");
}
a.paint:hover{
    opacity: .7;  
}
a.photos{
    display: inline-block;
    margin-right: 15px;
    width: 420px;
    height: 300px;
    background-image: url("images/photos.png");
}
a.photos:hover{
    opacity: .8;   
}
