@font-face {
    font-family: 'Cormorant Garamond', serif;
}
.pp_social{
    display: none;
}
.picthumbnail{
    height: 300px;
    width: auto;
}
.showCursor{
    cursor: pointer;
}
.pp_description{
 padding-top: 30px;
 font-family: sans;
 color: #696969;
 font-size: .9em;
}

.pp_pic_holder{
   position: fixed;
   overflow: auto;
   top: 0; 
}
.pp_play{
display: none;
}
.pp_arrow_previous{
display: none !important;
}
.pp_arrow_next{
display: none !important;
}
.currentTextHolder {
    left: 0px !important;
}

#inline-1{
    img{
        height: 500px:
    }
}

ul.works { /*vaatteita listaava taulukko*/
	list-style: none;
	font-size: 0px;
}

p{ 
    font-family: 'Cormorant Garamond', serif;
}

html{
    min-height: 100%
}

body {
    margin:0;
    padding:0;
}

.leaf-line {
   margin-bottom: 16px;
   height: 35px;
   margin-left: auto;
   margin-right: auto;
}

.mobile-container {
  margin: auto;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #fefdf8e6;
  position: absolute;
  top: 0;
  width: 100%;
    z-index: 3;
}

.wahtera-icon-mobile {
    height: 7em;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  padding: 16px 16px 12px 16px;
  text-decoration: none;
  font-size: 1.7em;
  display: block;
    text-align: center;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 4px;
}

.topnav .hamburger {
    height: 22px;
}

.topnav a:hover {
  background-color: #fefdf8;
  color: #d68f33;
}

.active {
  background-color: #4CAF50;
  color: white;
}

ul.works li img {
	width: 100%;
   /* height: auto;*/
}

ul.works li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}
ul.works {
	list-style: none;
   	font-size: 0px;
   	margin-left: -2.5%; /* should match li left margin */
}
div.worksgrid{
    padding: 0 50px 30px 15px;
}
ul.works li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.works li:hover{
    background-color: #d68f3391;
}
/* class for 2 columns */
ul.works.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.works.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.works.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}
 
ul.works div {
    height: 100%;
    width: 100%; 
}
ul.works.columns-2 li.bigPicture{
    width: 97.5%;
}

@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
/*	ul.works {
		margin-left: 0;
	}
	ul.works li {
		margin: 0 0 20px;
	}*/
}

div.project img {
    height: 30px;
    margin-right: 5px;
    float: left;
}

div.project {
    width: 43%;
    font-family: 'Cormorant Garamond', serif;
}
    
.allprojects {
    margin-left: 7%;
    margin-right: 7%;
    padding: 0 15px 20px 15px;
    font-weight: 200;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    font-size: 1.3em;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
}

ul.navigation {
    list-style-type: none;
    padding: 0;    
    margin-bottom: 0;
    font-size: 29px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 27%;
    left: 0;
    right: 0;
    width: 882px;
    margin-bottom: 30px;
}
ul.navigation li {
    padding: 22px;
    display: inline-block;
}
ul.navigation a:hover {
    color: #d68f33;
}
ul.navigation a {
    font-family: 'Cinzel Decorative', cursive;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
h3{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 1.5em;
    margin-top: 0px;
}

img.multiple-image {
    width: 30px !important;
    position: absolute;
    bottom: 15px;
    padding-left: 5px;
    cursor: pointer;
}

div.introduction{
    display: block;
    text-align: center; 
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 1.7em;
    padding: 0 3% 3% 3%;
}

div.mapletree {
    width: auto;
    height: 460px;
    background-image: url("images/lehtia.png"); /*the maple tree*/
    background-repeat: no-repeat;
    margin-top: 0px;
}

div.title{ /*the title text*/
    text-align: end;
    font-family: theFont;
    font-size: 150%;
    padding-top: 3%;
    padding-right: 3%;
}


div.mapletree img.banner{
    padding: 270px 0px 0px 380px;
    font-family: theFont;
    text-align: center;
    margin: 0;
}
img.titlephoto{
    height: 480px;
}
hr.divider { /*a line between programming-projects*/
    height: 24px;
    border-style: none;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url("images/smallerline.png");
}

div.profilepic {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    background:#fff;
    border: 1px solid#ddd;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    max-width: 43%;
}
div.profilepic img{
    max-width: 500px;
    height: 100%;
    width: 100%;
}
a.cv img{
    display:block;
    height: 44px;
    margin-left: 40px;
}
a.cv {
    color: #333;
}
div.me {
    margin-left: 7%;
    margin-right: 7%;
    padding: 10px 15px 20px 15px;
}
div.whoiam{ /*johanna who -page*/
    display: inline-block;
    padding-left: 3%;
    font-weight: 300;
    font-size: 1.3em;
    width: 51%;
}
div.whoiam p {
    color: #111;
    font-family: 'Cormorant Garamond', serif;
}
div {
    font-family: 'Cormorant Garamond', serif;
}

body {
    background-image: url("images/smallerback.png");
    background-size: cover;                  
    background-repeat:   no-repeat;
    background-position: center center;  
}

/* 
body.clothespage{
    background-image: url("images/evenclearerbackground.JPG");
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;  
}*/


.logo {
    width: 210px;
    margin-bottom: 3px;
}
.logo.mobile {
    width: 125px;
}

div.buttons{
    text-align: center;
    margin-left: auto;
    margin-right: auto 
}
h1.frontpagetext{ 
    font-family: theFont;
    text-align: center;
}
footer {
    overflow: hidden;
}
footer div {
    float: right;
    padding: 0 24px 20px 0;
    color: #d68f33;
}
footer img {
    max-width: 43px;
    min-width: 29px;
    padding-left: 10px;
}

@media(max-width: 1080px){
   div.title{
   	padding: 124px;
   	font-size: 50%;
   }
   div.mapletree {
   	height: 225px;
   	background-image: url("images/wahtera3smaller.png"); /*the maple tree*/
   }
   img.notMobile{
   	display: none
   }
    .worksgrid {
        padding-left: 0 !important;
      /*  padding-right: 0 !important;*/
    }
    img.multiple-image {
        margin-left: -98%;
        width: 20px !important;
    }
    .desktop-view {
        display: none;
    }
    .whoiam {
        width: 100% !important;
        padding: 0 !important;
    }
    .profilepic {
        display: none !important;
    }

    .project {
        width: 100% !important;
        margin-bottom: 10px;
    }
    .me {
        padding-top: 0px !important;
    }
    .leaf-line {
        margin-top: 15px;
        display: block;
    }
}

@media(min-width: 1081px){
   img.mobile {
   	display: none
   }
    
    .mobile-container {
        display: none;
    }
}
